body {
	width: calc(100vw - 55px);
	height: 100vh;
	padding: 10px;
}

input#password {
	width: 100%;
}

div#password-display {
	font-weight: bold;
	font-size: 2rem;
}

label {
	font-weight: bold;
	font-size: 2rem;
}

div.wrapper {
	width: 100%;
	display: flex;
	align-items: center;
}

input {
	width: 100%;
}

input#username {
	font-size: 2rem;
	padding: 2px 5px;
}
